<!DOCTYPE html>
<html lang="en">
<head>
	<title>YaCoffee</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style-auto-cart.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body>
<div class="auto-cart">
	<img id="logo-cart" src="image/icon/cart.png">
	<span id="quantity-product">0</span>
	<div class="show-cart">
		<span class="col-md-12">Giỏ hàng của bạn:</span>
		<div class="frame col-md-12">
		<div class="detail-cart col-md-12">
			<div class="image col-md-4">
				<img src="products/coffee02.jpg">
			</div>
			<div class="name col-md-5">
				<span>Nước ép dâu</span>
			</div>
			<div class="quantity col-md-1">
				<span>1</span>
			</div>
			<div class="btn-delete col-md-2">
				<button type="button" class="btn btn-danger">Xoá</button>
			</div>
		</div>

		<div class="detail-cart col-md-12">
			<div class="image col-md-4">
				<img src="products/coffee02.jpg">
			</div>
			<div class="name col-md-7">
				<span>Nước ép dâu</span>
			</div>
			<div class="quantity col-md-1">
				<span>1</span>
			</div>
		</div>
		</div>
		<div class="bottom col-md-12">
			<button type="button" class="btn btn-success">Thanh toán</button>
		</div>

	</div>
</div>
</body>
</html>
