<!DOCTYPE html>
<html lang="xzz">
<head>

	<title>YaCoffee</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style-footer.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	
</head>
<body>
<div class="footer col-md-12" >
	<div class="description col-md-4">
		<h3>Về chúng tôi</h3>
		<p>
			YaCoffee chúng tôi là một chuỗi các quán cà phê trên nhiều quận huyện thành phố Hồ Chí Minh. Chúng tôi luôn tự hào là thương hiệu được người đam mê thưởng thức cà phê bình chọn và yêu thích. Chúng tôi luôn phục vụ khách hàng với phương châm khách hàng là thượng đế.
		</p>
	</div>
	<div class="location col-md-4">
		<h3>Địa chỉ</h3>
		<p id="location-footer">Chi nhánh 1: 58, Thành Thái, Q10, HCM</p>
		<p id="location-footer">Chi nhánh 2: 58, Thành Thái, Q10, HCM</p>
		<p id="location-footer">Chi nhánh 3: 58, Thành Thái, Q10, HCM</p>
		<p id="location-footer">Chi nhánh 4: 58, Thành Thái, Q10, HCM</p>
	</div>
	<div class="contact col-md-4">
		<h3>Liên hệ</h3>
		<a href="http://facebook.com"><img src="image/icon/facebook-icon.png" alt="facebook"></a>
		<a href="#"><img src="image/icon/google-icon.png" alt="google"></a>
		<a href="#"><img src="image/icon/instagram-icon.png" alt="instagram"></a>
	</div>
	<div class="copyright col-md-12">
		<p>Copyright&copy;YaCoffee.com</p>
	</div>
</div>
</body>
</html>