<!DOCTYPE html>
<html lang="en">
<head>
	<title>YaCoffee</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style-header.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="load_icon_navbar.js"></script>
</head>
<body>
<div class="menu col-md-2">
	<div class="left col-md-2">
	<div class="frame border-bot col-md-12">
		<a href="manager-user.php" id="manager_user">Quản lý người dùng</a>
	</div>
	<div class="frame border-bot col-md-12">
		<a href="manager-book.php" id="manager_book">Quản lý truyện</a>
	</div>
	<div class="frame border-bot col-md-12">
		<a href="themtruyen.php" id="them_truyen">Thêm truyện mới</a>
	</div>
	<div class="frame border-bot col-md-12">
		<a href="manager-comment.php" id="manager_comment">Quản lý comment</a>
	</div>
	<div class="frame col-md-12">
		<a href="../myphp/processLogout.php" id="logout">Đăng xuất</a>
	</div>
</div>
</div>
<div class="content col-md-10"></div>
</body>
</html>
